.Button {
    cursor: pointer;
    color: var(--primary-color);
}

.clear {
    padding: 0;
    border: none;
    outline: none;
    background: none;
}

.outlined {
    padding: 5px;
    border: 1px solid #858585;
    background: none;
}
