:root .dark {
    --bg-color: #1e0338;
    --inverted-bg-color: #fff9fe;
    --primary-color: #fff;
    --secondary-color: linear-gradient(180deg, #fd749b 0%, #281ac8 130%);
    --navbar-border: #f0f0f0;
    --navbar-color: #1e0338;
}
