.app_theme_light {
    --bg-color: #fff9fe;
    --inverted-bg-color: #1e0338;
    --primary-color: #858585;
    --secondary-color: linear-gradient(180deg, #fd749b 0%, #281ac8 130%);
    --navbar-border: #e4e4e4;
    --navbar-color: #fff;
}
